@page
@model WorkplaceOutbreakSimulatorWebApp.Pages.Simulator.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;

    string DisableRunButton = "";
    if (Model.SimulatorData.IsSimulatorRunning || Model.SimulatorData.IsSimulatorComplete)
    {
        DisableRunButton = "disabled";
    }

    string DisableDownloadButton = "";
    if (!Model.SimulatorData.IsSimulatorComplete)
    {
        DisableDownloadButton = "disabled";
    }
}

<div class="border container px-5 pt-4 pb-5 ">

    <h2 class="text-info">@Model.PageTitle</h2>

    <form id="main_run_form" method="post">
        <input type="hidden"
               id="SimulatorData.IsSimulatorRunning"
               name="SimulatorData.IsSimulatorRunning"
               value="@Model.SimulatorData.IsSimulatorRunning.ToString().ToLower()">
        <input type="hidden"
               id="SimulatorData.IsSimulatorComplete"
               name="SimulatorData.IsSimulatorComplete"
               value="@Model.SimulatorData.IsSimulatorComplete.ToString().ToLower()">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.StartDate"></label>
                <input asp-for="SimulatorData.StartDate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.EndDate"></label>
                <input asp-for="SimulatorData.EndDate" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.InfectionRate"></label>
                <input type="number" min="1" max="100" asp-for="SimulatorData.InfectionRate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.TestRate"></label>
                <input type="number" min="0" max="100" asp-for="SimulatorData.TestRate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.TestResultWaitDays"></label>
                <input type="number" min="0" max="31" asp-for="SimulatorData.TestResultWaitDays" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.TestResultWaitHours"></label>
                <input type="number" min="0" max="23" asp-for="SimulatorData.TestResultWaitHours" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="SimulatorData.RequiredSickLeaveDays"></label>
                <input type="number" min="5" max="30" asp-for="SimulatorData.RequiredSickLeaveDays" class="form-control" />
            </div>
            <div class="form-group col-md-9">
                <label>Select an Employee File to Download</label>
                <select class="form-control" asp-for="SimulatorData.SelectedEmployeeIdForExport" asp-items="Model.Employees"></select>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-4">
                <input id="main_run_btn" type="submit" onclick="this.form.submit(); disableInput();" value="Run Simulation" class="btn btn-primary form-control" @DisableRunButton />
            </div>
            <div class="col-4">
                <a asp-page="Index" class="btn btn-secondary form-control">Reset Form</a>
            </div>
            <div class="col-4">
                <input id="main_download_btn" type="submit" class="btn btn-success form-control" value="Download Employee Log File" @DisableDownloadButton />
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <script src="@Url.Content("~/js/simulator.index.js")"></script>
}