@page
@model WorkplaceOutbreakSimulatorWebApp.Pages.Simulator.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<br />
<a class="navbar-brand" asp-area="" asp-page="/"><h2 class="text-info">@Model.PageTitle</h2></a>
<br />
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.StartDate"></label>
                <input asp-for="ConfigData.StartDate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.EndDate"></label>
                <input asp-for="ConfigData.EndDate" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.InfectionRate"></label>
                <input type="number" min="1" max="100" asp-for="ConfigData.InfectionRate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.TestRate"></label>
                <input type="number" min="0" max="100" asp-for="ConfigData.TestRate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.TestResultWaitDays"></label>
                <input type="number" min="0" max="31" asp-for="ConfigData.TestResultWaitDays" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.TestResultWaitHours"></label>
                <input type="number" min="0" max="23" asp-for="ConfigData.TestResultWaitHours" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="ConfigData.RequiredSickLeaveDays"></label>
                <input type="number" min="5" max="30" asp-for="ConfigData.RequiredSickLeaveDays" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-4">
                <input type="submit" value="Run Outbreak Simulation" class="btn btn-primary form-control" />
            </div>
            <div class="col-4">
                <a asp-page="Index" class="btn btn-success form-control">Reset Form</a>
            </div>
        </div>
    </form>
</div>