@page
@model WorkplaceOutbreakSimulatorWebApp.Pages.Simulator.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<br />
<a class="navbar-brand" asp-area="" asp-page="/"><h2 class="text-info">@Model.PageTitle</h2></a>
<br />
<br />

<div class="border container" style="padding:30px;">

    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.StartDate"></label>
                <input asp-for="SimulatorVM.SimulatorInput.StartDate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.EndDate"></label>
                <input asp-for="SimulatorVM.SimulatorInput.EndDate" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.InfectionRate"></label>
                <input type="number" min="1" max="100" asp-for="SimulatorVM.SimulatorInput.InfectionRate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.TestRate"></label>
                <input type="number" min="0" max="100" asp-for="SimulatorVM.SimulatorInput.TestRate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.TestResultWaitDays"></label>
                <input type="number" min="0" max="31" asp-for="SimulatorVM.SimulatorInput.TestResultWaitDays" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.TestResultWaitHours"></label>
                <input type="number" min="0" max="23" asp-for="SimulatorVM.SimulatorInput.TestResultWaitHours" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="SimulatorVM.SimulatorInput.RequiredSickLeaveDays"></label>
                <input type="number" min="5" max="30" asp-for="SimulatorVM.SimulatorInput.RequiredSickLeaveDays" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-4">
                <input type="submit" value="Run Outbreak Simulation" class="btn btn-primary form-control" />
            </div>
            <div class="col-4">
                <a asp-page="Index" class="btn btn-success form-control">Reset Form</a>
            </div>
        </div>
    </form>

    @if (Model.SimulatorVM.IsSimulatorComplete)
    {
        <div class="border container" style="padding:20px;">
            <h4 class="text-info">Simulation Results</h4>
        </div>
    }

</div>